.quote-block {
    border-left: 4px solid #4fc1fe;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
}

button {
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0 auto;
}

button:hover {
    color: black;
    font-weight: 600;
}

main {
    margin-top: 7rem;
}

section a {
    text-decoration: none;
}