.quote-block {
  border-left: 4px solid #4fc1fe;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
}

button {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0 auto;
}

button:hover {
  color: black;
  font-weight: 600;
}

main {
  margin-top: 7rem;
}

section a {
  text-decoration: none;
}

/* 4K responsive design */
@media (min-width: 1968px) { 
  .quote-block {
    font-size: 6rem;
    padding: 0 8rem;
    margin: 4rem 0;
  }

  button {
    padding: 20px 40px;
    font-size: 3rem;
    width: 30%;
    max-width: 600px;
    margin: 5rem auto 0 auto;
    border-radius: 10px;
  }

  main {
    margin-top: 10rem;
    padding: 0 8rem;
  }

  section {
    padding: 4rem 0;
  }
}

/* Tablet responsive design*/
@media (max-width: 769px) { 
  .quote-block {
    font-size: 2rem;
    padding: 0 2rem;
    margin: 2rem 0;
  }

  button {
    padding: 12px 18px;
    font-size: 1rem;
    width: 60%;
    max-width: 320px;
    margin: 3rem auto 0 auto;
    border-radius: 7px;
  }

  main {
    margin-top: 6rem;
    padding: 0 2rem;
  }

  section {
    padding: 2rem 0;
  }
}

/* Mobile responsive design*/
@media (max-width: 426px) {
  .quote-block {
    border-left: 3px solid #4fc1fe;
    font-size: 1.4rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  button {
    padding: 12px 16px;
    font-size: 1rem;
    width: 80%;
    max-width: 280px;
    margin: 4rem auto 0 auto;
    border-radius: 8px;
  }
  
  main {
    margin-top: 5rem;
    padding: 0 1rem;
  }
  
  section {
    padding: 1rem 0;
  }
}

@media (max-width: 376px) {
  .quote-block {
    border-left: 3px solid #4fc1fe;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  button {
    padding: 12px 16px;
    font-size: 1rem;
    width: 80%;
    max-width: 280px;
    margin: 4rem auto 0 auto;
    border-radius: 8px;
  }
  
  main {
    margin-top: 5rem;
    padding: 0 1rem;
  }
  
  section {
    padding: 1rem 0;
  }
}

@media (max-width: 321px) {
  .quote-block {
    border-left: 3px solid #4fc1fe;
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  button {
    padding: 12px 16px;
    font-size: 1rem;
    width: 80%;
    max-width: 280px;
    margin: 4rem auto 0 auto;
    border-radius: 8px;
  }
  
  main {
    margin-top: 5rem;
    padding: 0 1rem;
  }
  
  section {
    padding: 1rem 0;
  }
}
