html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1, h2 {
  color: #ffffff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Optional: center content vertically */
}

