section {
  background: none;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: none;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.quote-section blockquote {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border-left: 4px solid #b3e6ff;
  padding-left: 1rem;
  background: none;
}